body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
 
  .house-icon {
    width: 30px; /* Ajuste la taille de l'icône */
    height: auto;
    margin: 0 5px; /* Ajoute un peu d'espace autour */
  }

  .navigation {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  ul a {
    text-decoration: none;
    color: black;
  }
  
   ul a.active {
   text-decoration: underline;
  }
  
  .nav-image {
    width: 400px; /* Ajuste la taille */
    height: auto;
    margin-left: 20px;
    align-items: center;
  }

  .logo {
    font-size: 40px;
    display: flex;
    align-items: center;
  }
  
  .red {
    color: #ff6060;
  }
  
  .gallery {
    text-align: center;
  }
  
  .carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    color: white;
    border: none;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }

  .counter {
    position: absolute;
    bottom: 15px; /* Placement en bas */
    left: 50%;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
    
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images par ligne */
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  
  .carousel img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Coupe et centre les images */
    border-radius: 10px;
  }
  

  button {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .card {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .image-cover {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Coupe et centre l'image */
    border-radius: 10px;;
  }
  
  .card-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    font-size: 18px;
  }
  
  .carousel .host-picture {
    width: 50px; /* Image du propriétaire réduite */
    height: 50px;
    border-radius: 50%;
  }

  .toggle-btn {
    width: 80%;
    gap: 20px;
    background-color: #ff6060;
    color: white;
  }

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .error-title {
    color: #ff6060;
    font-size: 100px;
    font-weight: bold;
  }
  
  .error-text {
    color: #ff6060;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Aligne verticalement */
    align-items: center;
  }
  
  .footer-text {
    font-size: 14px;
  }

  .footer-logo {
    filter: brightness(0) invert(1);
  }